<html>
	<head>
	<title>登录页面</title>
	</head>
	<body>
		<h1>我是登录页面</h1>
		<img src="./showimg"/><br/>
收到参数：email是{email}<br/>
收到参数：Password是{pwd}<br/>
		<form action="./login" method="post">
			<table>
				<tr>
					<td>Email:</td>
					<td><input type="text" name="email"/></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="password" name="pwd"/></td>
				</tr>
				<tr>
					<td align="center">
					<input type="submit" name="登录"/></td>
				</tr>
			</table>
		</form>
	</body>
</html>
